footer{
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-around;
    flex-shrink:0;
}
footer div{
    width:20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:30px;

}
span.icon{
    font-size:50px;
}